<header>
  <a href="/book">
    <img src="/assets/favicon.png" alt="Logo" />
  </a>
  <h1><%=title%></h1>
  <i class="fas fa-bars"></i>
  <ul>
    <a href="/book" class="active"><li>My books</li></a>
    <a href="/book/add"><li>Add a book</li></a>
    <a href="/book/browse"><li>Browse</li></a>
  </ul>
</header>
