<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/header.ejs") %>
    <main>
      <div id="new">
        <h2>Add a new book</h2>
        <form action="/add" method="POST">
          <div class="grid container">
            <label for="title">title</label>
            <input type="text" id="title" name="title" required />
            <label for="author">author</label>
            <input type="text" id="author" name="author" />
            <label for="year">year</label>
            <input type="number" id="year" name="year" required />
            <label for="description">description</label>
            <textarea
              id="description"
              name="description"
              placeholder="Book description"
            ></textarea>
            <label for="notes">notes</label>
            <textarea
              id="notes"
              name="notes"
              placeholder="Notes about the book. What you liked about the book for example."
            ></textarea>
            <label for="quotes">favorite quotes</label>
            <textarea
              id="quotes"
              name="quotes"
              placeholder="Favorite quotes"
            ></textarea>
          </div>
          <input type="submit" id="add" name="add" value="Add" class="btn" />
        </form>
        <h3 id="confirm"><%=confirm%></h3>
      </div>
    </main>
    <%- include("./partials/footer.ejs") %>
    <script
      src="https://kit.fontawesome.com/d193bb7800.js"
      crossorigin="anonymous"
    ></script>
    <script src="./app.js"></script>
  </body>
</html>
