/*Global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-clr: #8c4e12;
  --secondary-clr: #c49054;
  --tertiary-clr: #ca9e00;
  --strange-clr: #2e4530;
  --grey: #505050;
  --white: #fff;
  --black: #000;
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tertiary-clr);
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
  background: var(--main-clr);
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Crimson Text", serif;
  overflow-x: hidden;
  text-align: center;
  background-color: var(--secondary-clr);
}
.container {
  width: clamp(50px, 90%, 700px);
  margin: 0 auto;
}
.btn {
  padding: 2rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.9rem;
}
h4 {
  font-size: 1.7rem;
}
p,
label,
.btn,
li,
a,
dd {
  font-size: 1.6rem;
  color: var(--strange-clr);
}
label {
  text-transform: capitalize;
}
/* label::before {
  content: "";
  display: block;
} */
/*Header*/
header {
  background-color: var(--main-clr);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
header img {
  height: 50px;
}
header h1 {
  top: 13px;
}
header i {
  padding-right: 65px;
  font-size: 1.6rem;
}
header ul {
  position: absolute;
  list-style: none;
  top: 50px;
  right: 0;
  width: 140px;
  background-color: var(--main-clr);
  display: none;
}
header li:hover {
  background-color: var(--secondary-clr);
}
header a {
  text-decoration: none;
}
@media (min-width: 800px) {
  header h1 {
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
  }
  header i {
    display: none !important;
  }
  header ul {
    position: relative;
    display: flex;
    top: 0;
    width: auto;
  }
  header li {
    padding: 16px 20px;
  }
}
/*Main*/
/*Index*/
#current {
  margin-bottom: 50px;
  background-color: white;
  text-align: left;
}
#current h2 {
  text-align: center;
  padding: 30px 0;
}
#current h3,
#current h4 {
  display: inline-block;
  width: 100%;
  background-color: var(--secondary-clr);
  border-radius: 5px;
  margin: 10px 0;
  padding: 5px;
}
#current h4 {
  margin-bottom: 10px;
}
#current dt {
  display: inline-block;
  width: 100%;
  padding: 5px;
  background-color: var(--secondary-clr);
  font-size: 1.9em;
  font-weight: bold;
  border-radius: 5px;
}
#current .fa-minus-circle,
#current .fa-plus-circle {
  float: right;
}
#current dd {
  padding: 10px;
}
.book {
  padding-bottom: 50px;
  position: relative;
}
.book .fa-trash {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 2.5rem;
  cursor: pointer;
}
.book .fa-edit,
.book .fa-save {
  position: absolute;
  top: 0px;
  right: 45px;
  font-size: 2.5rem;
  cursor: pointer;
}
.book .fa-save {
  right: 50px;
  display: none;
}
.book h3 {
  width: 90%;
  display: inline;
}
.book h4 {
  margin-top: 1rem;
}
/*New*/
#new h2 {
  margin-bottom: 30px;
}
#new .grid {
  display: grid;
  grid-template-columns: 80px auto;
  text-align: left;
  grid-row-gap: 20px;
}
#new label::before {
  content: "";
  display: block;
}
#new label::after {
  content: ":";
  display: inline;
}
#new input {
  width: 400px;
  width: clamp(85px, 60vw, 400px);
}
#new textarea {
  height: 50px;
  padding: 0.2rem;
}
#new input[type="submit"] {
  width: 700px;
  width: min(90%, 700px);
  margin-top: 10px;
}
#new #confirm {
  padding: 1rem;
  color: var(--grey);
}
